/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Alata:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

/* basic css reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

/* 
    Variables for page colors 
    Mobile margin default calculated for Mobile res 375px
    24px (from design file) / 375px * 100 = 6.4vw
    Desktop marging default calculated for Desktop res: 1440px
    164 px (from design file) /1440px * 100 = 11,39 
    (this way page margin will adjust to screen size
    and at the same time match desig files for default resolutions
*/
:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-dark-grey: hsl(0, 0%, 55%);
  --clr-very-dark-grey: hsl(0, 0%, 41%);
  --mobile-screen-margin: 6.4vw;
  --desktop-screen-margin: 11.39vw;
}

/* font size according to styleguide */
body {
  font-size: 15px;
}

/* 
    * CSS for Mobile view*
*/

/*
     ** Header with navigation **
*/

header {
  background-image: url(images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  position: relative;
}

.logo {
  height: 24px;
}

.nav-container {
  padding: 40px var(--mobile-screen-margin);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header nav {
  width: 100%;
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-size: 24px;
  line-height: 25px;
  min-height: 486px;
  position: absolute;
  top: 64px;
  left: 0px;
  z-index: 999;
  height: calc(650px - 64px);
}

header nav ul {
  position: absolute;
  margin: 0 var(--mobile-screen-margin);
  top: calc(223px - 64px);
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.hamburger-icon {
  background-image: url(images/icon-hamburger.svg);
  width: 24px;
  height: 16px;
}

/* no js approach for hamburger menu */

#hamburger-checkbox,
header nav {
  display: none;
}

#hamburger-checkbox:checked ~ .nav-container {
  background-color: black;
}

#hamburger-checkbox:checked ~ .nav-container .hamburger-icon {
  background-image: url(images/icon-close.svg);
  width: 20px;
  height: 20px;
}

#hamburger-checkbox:checked ~ .nav-container nav {
  display: block;
}

/* separate class for font Alata */
.font-alata {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
}

/* 
    font for headers and nav 
    (not as a separate class because it has to be replaced 
    sometimes in desktop view)
*/
h1,
h2,
h3,
nav {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  font-size: 40px;
  line-height: 38px;
  border: 2px solid var(--clr-white);
  color: var(--clr-white);
  margin: 123px var(--mobile-screen-margin);
  padding: 24px 24px;
  overflow: hidden;
  width: fit-content;
}

/* CSS for main section - (the one with white background) */
main {
  margin: 0 var(--mobile-screen-margin);
  background-color: var(--clr-white);
}

/* 
    element to define arbitrary spacing
    separate classess are needed because this spacing
    diverges in desktop view, while on mobile is the same
*/
.spacing-1,
.spacing-2 {
  height: 96px;
}

.intro-overlay-container {
  margin-top: 48px;
}

article {
  text-align: center;
}

h2 {
  font-size: 32px;
  line-height: 32px;
  margin: 0 0 24px 0;
}

.intro-description {
  line-height: 25px;
  padding: 0 24px;
  color: var(--clr-very-dark-grey);
}

/* CSS for SEE ALL button +hover */
.see-all-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.see-all-button {
  border: 1px solid var(--clr-black);
  background-color: var(--clr-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 5px;
  height: 40px;
  width: 157px;
}

.see-all-button:hover {
  color: var(--clr-white);
  background-color: var(--clr-black);
}

/* CSS for the portfolio list */
.tiles-grid {
  display: grid;
  row-gap: 24px;
  justify-items: center;
}

.tile-item {
  position: relative;
  line-height: 0px;
}

.tile-item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
}

.tile-img {
  width: 100%;
}

.tile-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0),
    240px,
    rgba(0, 0, 0, 0)
  );
}

h3 {
  font-size: 24px;
  line-height: 24px;
  color: var(--clr-white);
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-align: left;
}

/* CSS for footer elements */
footer {
  line-height: 25px;
  background-color: var(--clr-black);
  color: var(--clr-white);
  padding: 56px 51px;
  display: grid;
  grid-template-rows: auto auto auto auto;
  justify-items: center;
}

footer ul {
  margin: 32px 0px;
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

.social-container {
  margin: 16px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;
}

.copyright {
  color: var(--clr-dark-grey);
}

/* 
    CSS for underline action
   (to add underline behavior add this class in HTML per element)
*/
.underline {
  position: relative;
}

.underline::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 24px;
  height: 2px;
  background-color: var(--clr-white);
  display: none;
}

.underline:hover::after {
  display: block;
}

/* 
    specific formatting to transform mobile view
    to desktop view
    breakpoint set to 900px, as with this resolution
    positioning and size of elements starts to fit the screen    
*/
@media screen and (min-width: 1000px) {
  /* remove hamburger */
  .hamburger-icon {
    display: none;
  }

  .logo {
    height: 32px;
  }

  .nav-container {
    padding: 64px var(--desktop-screen-margin);
  }

  /* replace background */
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(images/desktop/image-hero.jpg);
  }

  /* 
    first unset all styles from navigation
    and then apply desktop view CSS
   */
  header nav {
    all: unset;
    display: block;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    line-height: 25px;
    font-size: 15px;
    color: var(--clr-white);
  }

  header nav ul {
    all: unset;
    list-style: none;
    width: 380px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h1 {
    font-size: 72px;
    line-height: 70px;
    margin: 73px var(--desktop-screen-margin);
    padding: 39px 39px;
  }

  /* CSS for the main section - the one with the white background */
  main {
    margin: 0 var(--desktop-screen-margin);
  }

  .spacing-1 {
    height: 160px;
  }
  .spacing-2 {
    height: 184px;
  }

  .intro-article {
    position: relative;
    height: 500px;
    text-align: left;
  }

  .leader-img {
    height: 500px;
  }

  .intro-overlay-container {
    background-color: var(--clr-white);
    position: absolute;
    text-align: left;
    right: 0px;
    bottom: 0px;
    padding: 96px 0 0 96px;
    width: 541px;
    margin-top: 0px;
  }

  h2 {
    font-size: 48px;
    line-height: 48px;
    margin: 0;
    margin-bottom: 25px;
  }

  .intro-description {
    padding: 0;
  }

  /* CSS for the portfolio list */
  /* (switch between images is handle by HTML picture element) */
  .tile-item,
  .tile-img {
    width: 256px;
    height: 450px;
  }

  .tile-gradient {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      130px,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    );
  }

  .tiles-grid {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
  }

  .tiles-grid h2 {
    grid-column: 1 / 3;
    grid-row: 1 /1;
  }

  .tiles-grid .see-all-container {
    grid-column: 3 / 4;
    grid-row: 1 / 1;
    margin-top: 0px;
    align-self: flex-start;
    justify-self: flex-end;
  }

  /* CSS for footer */
  footer {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-items: flex-end;
    padding: 42px var(--desktop-screen-margin);
  }

  footer > img {
    justify-self: flex-start;
  }

  footer > ul {
    margin: 0px;
    width: 380px;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    flex-direction: row;
    justify-self: flex-start;
    justify-content: space-between;
  }

  .social-container {
    margin: 0px 0px 24px 0px;
  }

  @media screen and (min-width: 1350px) {
    .tiles-grid {
      grid-template-columns: auto auto auto auto;
    }

    .tiles-grid h2 {
      grid-column: 1 / 4;
    }

    .tiles-grid .see-all-container {
      grid-column: 4 / 5;
    }
  }
}
