.header {
  background-image: url(images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  position: relative;
}

.header__logo {
  height: 24px;
}

.header__nav-container {
  padding: 40px var(--mobile-screen-margin);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__nav {
  width: 100%;
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-size: 24px;
  line-height: 25px;
  min-height: 486px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  z-index: 100;
}

.header__nav-list {
  position: absolute;
  margin: 0 var(--mobile-screen-margin);
  top: calc(223px - 64px);
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.header__hamburger-icon {
  background-image: url(images/icon-hamburger.svg);
  width: 24px;
  height: 16px;
  z-index: 200;
}

/* no js approach for hamburger menu */
.header__checkbox,
.header__nav {
  display: none;
}

.header__checkbox:checked ~ .header__nav {
  display: block;
}

.header__checkbox:checked ~ .header__hamburger-icon {
  background-image: url(images/icon-close.svg);
  width: 20px;
  height: 20px;
  /* z-index: 10; */
}

.header__title {
  font-size: 40px;
  line-height: 38px;
  border: 2px solid var(--clr-white);
  color: var(--clr-white);
  margin: 123px var(--mobile-screen-margin);
  padding: 24px 24px;
  overflow: hidden;
  width: fit-content;
}

@media screen and (min-width: 1000px) {
  /* remove hamburger */
  .header__hamburger-icon {
    display: none;
  }

  .header__logo {
    height: 32px;
  }

  .header__nav-container {
    padding: 64px var(--desktop-screen-margin);
  }

  /* replace background */
  .header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(images/desktop/image-hero.jpg) no-repeat;
    background-size: cover;
  }
  /* 
        first unset all styles from navigation
        and then apply desktop view CSS
       */
  .header__nav {
    all: unset;
    display: block;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    line-height: 25px;
    font-size: 15px;
    color: var(--clr-white);
  }

  .header__nav-list {
    all: unset;
    list-style: none;
    width: 380px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header__title {
    font-size: 72px;
    line-height: 70px;
    margin: 67px var(--desktop-screen-margin);
    width: 650px;
    padding: 39px 39px;
  }
}
