
<!--
     ** Header with navigation **
-->

<header id="header" class="header">
    <div class="header__nav-container">
        <input
          type="checkbox"
          name="hamburger-checkbox"
          id="hamburger-checkbox"
          class="header__checkbox"
        />
      <img src="images/logo.svg" alt="loopstudios logo" class="logo" />
      <label for="hamburger-checkbox" class="header__hamburger-icon"> </label>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a href="#header" class="underline">About</a>
          </li>
          <li class="header__nav-item">
            <a href="#header" class="underline">Careers</a>
          </li>
          <li class="header__nav-item">
            <a href="#header" class="underline">Events</a>
          </li>
          <li class="header__nav-item">
            <a href="#header" class="underline">Products</a>
          </li>
          <li class="header__nav-item">
            <a href="#header" class="underline">Support</a>
          </li>
        </ul>
      </nav>
    </div>
    <h1 class="header__title">
      Immersive<br />experiences<br />that deliver
    </h1>
  </header>

