<div class="social-container">
    <a href="#footer" class="footer__social-link underline"
      ><img
        src="images/icon-facebook.svg"
        alt="facebook link"
        class="footer__social-icon"
    /></a>
    <a href="#footer" class="footer__social-link underline"
      ><img
        src="images/icon-twitter.svg"
        alt="twitter link"
        class="footer__social-icon"
    /></a>
    <a href="#footer" class="footer__social-link underline"
      ><img
        src="images/icon-pinterest.svg"
        alt="pinterest link"
        class="footer__social-icon"
    /></a>
    <a href="#footer" class="footer__social-link underline"
      ><img
        src="images/icon-instagram.svg"
        alt="instagram link"
        class="footer__social-icon"
    /></a>
</div>

<style is:global>
    .social-container {
      margin: 16px 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 16px;
    }

    @media screen and (min-width: 1000px) {
        .social-container {
          margin: 0px 0px 24px 0px;
        }
    }
</style>